# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Python-specific
*.pyo
*.pyd
*.pyc

# dotenv environment files
.env
.env.*

# SQLite database
*.sqlite3

# MacOS system files
.DS_Store

# data files
data/